.Header {
   position: fixed;
   top: 0;
   width: 100%;
   height: auto;
   padding: 20px 50px;
   background-color: #fffffff1;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.Header img {
   width: 120px;
}



.Header .icon {
   display: none;
}

@media (max-width: 525px) {
   .Header {
      justify-content: space-between;
   }
   .Header .icon {
      display: inline;
      font-size: 1.3rem;
      cursor: pointer;
      transition: all .4s;
   }
   .Header .icon:hover {
      color: #4089dd;
      cursor: pointer;
      transition: all .4s;
   }
   .Header nav {
      display: none;
   }
}