.Menu.disable {
   top: -100vh;
}

.Menu {
   position: fixed;
   top: 0;
   width: 100%;
   min-height: 100vh;
   padding: 30px;
   background-color: #003c75f9;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .4s;
}

.Menu ul {
   flex-direction: column;
   gap: 20px;
}

.Menu li, .Menu a {
   color: white;
   font-size: 1.3rem;
}

.Menu .icon {
   position: absolute;
   top: 30px;
   right: 30px;
   font-size: 1.8rem;
   color: white;
   cursor: pointer;
   transition: all .4s;
}
.Menu .icon:hover {
   color: rgb(20, 39, 48);
   cursor: pointer;
   transition: all .4s;
}